.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #eeebeb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.b-logo{
    width: 100px;
    cursor: pointer;
    border-radius: 4px;
}

.toggle-menu{
   display: none;
   background-color: transparent;
   border: none;
   font-size: 30px;
   color: #4886a5;
   cursor: pointer;
}

.menu-list{
 display: flex;
 padding-inline-start: 0px;
}

.menu-list li a , .resume-1{
    color: #4886a5;
    padding:0 20px;
    font-size: 1.2rem;
    font-weight: 550;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
}

.menu-list :hover {
    color: skyblue;
    text-decoration: 2px underline yellow;
}

@media screen and (max-width:768px) {
    
    .menu-list{
        flex-direction: column;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #444;
        width: 30%;
        z-index: 999;
    }

    .menu-list.show{
        display: flex;
        align-items: center;
    }

    .menu-list li {
        text-align: center;
        border-bottom: 1px solid #555;
        padding: 10px 0;
    }

    .menu-list li a {
        padding: 10px 20px;
        width: 100%;
    }

    .toggle-menu{
        display: block;
    }

    .b-logo{
        width:90px;
    }

}

@media screen and (max-width:480px) {
    .b-logo{
        width:80px;
    }

    .menu-list{
        width: 40%;
    }
}
